.env
alpaca_env/
__pycache__/
.idea
.vscode
logs
investenv
machine_learning/runs
machine_learning/tcn/runs
learning/*

# ML artifacts
learning/*.pth
learning/*.pt
learning/*.ckpt
learning/*.bin
/data/*
!/machine_learning/tcn/data/
!/machine_learning/tcn/data/**
